body{
    padding:0;
    margin:0;
    
}

.container{
    border-style:groove;
    margin: 0 100px 100px;
    padding:10px;
}

h1,h5{
    text-align: center;
}

img{
    display:block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.book{
    text-align: center;
    margin: 0 0 50px 0;
}


